@import '../variables.css';

.intro-heading {
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    min-height: 800px;
    height: calc(100svh - 100px);
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    grid-column: span 8;
}

h1, h1 > span{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
    font-size: clamp(2rem, 6.5vw, 10rem);
}

h2 {
    margin: 0;
    flex-wrap: wrap;
    color: var(--secondary-color);
    grid-column: 1/span 4;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-block-start: 10rem;
}

@media (max-width: 575px) {
    h2 {
        font-size: 1rem;
        grid-column: 1/span 8;
    }

    h1 > span{
        font-size: 10vw;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    h2 {
        font-size: 1.2rem;
        grid-column: 1/span 6;
    }

    h1 > span{
        font-size: 8vw;
    }
}

@media (min-width: 991px) and (max-width: 2200px) {
    h2 {
        font-size: 1.5rem;
        grid-column: 1/span 6;
    }
}

.first-name, .last-name {
    display: block;
    white-space: nowrap;
}

@media (max-width: 1000px) and (max-height: 1000px) {
    .intro-heading {
        min-height: 500px;
    }
}