@import 'variables.css';

* {
    transition: background-color 0.3s ease, color 0.3s ease;
    overscroll-behavior: none; /* Disables bounciness effect / not sure if it works (hint from chatGPT) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--background-color);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 575px) {
    body {
        padding: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* TODO: Add Grid layouts for sections and add appropriate data into them */