:root {
    --primary-color: #333333;
    --background-color: #fffffa;
    --secondary-color: #858585;
    --border-color: #cecece;
    --highlight-color: #cecece;
    --small-font-size: 14px;
    --medium-font-size: 20px;
    --large-font-size: 30px;
}

[data-theme="dark"] {
    --primary-color: #f1f1f1;
    --background-color: #121212;
    --secondary-color: #d1d1d1;
    --border-color: #444444;
    --highlight-color: #555555;
}

@media (max-width: 575px) {
    :root {
        --small-font-size: 10px;
        --medium-font-size: 15px;
        --large-font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    :root {
        --small-font-size: 12px;
        --medium-font-size: 17px;
        --large-font-size: 25px;
    }
}
